page-offreclub {

  ion-img{
    width: 10%;
    height: 10%;
    display: inline-table;
    background: none;
  }

  .info-club{
    margin-left: 20px;
    display:inline-block;
  }

  .info-club-titre{
    font-weight: bold;
  }
}
